* {
  margin: 0;
  padding: 0;
  font-family: PingFangSC-Light, 微软雅黑;
}
body,
html {
  width: 100%;
  height: auto;
  color: #333;
  /* overflow: hidden;*/
  background: url("../img/bg（1）.png");
  background-size: 100% 100%;
}
/*各浏览器显示不同，去掉蓝色边框*/
fieldset,
img,
input,
button {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
ul,
li {
  height: 80px;
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
/*清除浮动*/
.clear-both:before,
.clear-both:after {
  display: table;
  content: "";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
}
.clearfix {
  *zoom: 1; /*IE/7/6*/
}
.fl {
  float: left;
}
.fr {
  float: right;
}

/*header开始*/

.left {
  float: left;
}
.text_right {
  text-align: right;
}
.header {
  width: 100%;
  height: 80px;
  background: url(../img/head_bg.png) no-repeat;
  margin-bottom: 40px;
}
.header_center {
  width: 730px;
  margin: 0px auto;
  color: #ffffff;
  text-align: center;
  height: 80px;
  background-size: 100% 100%;
}
.header_center h2 {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}
.header_center a {
  color: rgb(62, 101, 209);
}
.nav {
  width: 600px;
  height: 70px;
  position: relative;
  top: 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  /* border-radius: 10px; */
}
.nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav ul .nav-box {
  position: absolute;
  bottom: 0;
  left: 0;
  /* 如果导航栏就六个导航，那么每个导航的宽度都是整个导航
            的六分之一 */
  width: calc((100% / 4) * 1);
  height: 5px;
  border-radius: 2px;
  transition: 0.5s;
}
.nav ul li:nth-child(1):hover ~ .nav-box {
  left: calc(100% / 4 * 0);
  background-color: rgb(241, 244, 177);
}
.nav ul li:nth-child(2):hover ~ .nav-box {
  left: calc(100% / 4 * 1);
  background-color: rgb(84, 163, 243);
}
.nav ul li:nth-child(3):hover ~ .nav-box {
  left: calc(100% / 4 * 2);
  background-color: #deb6f6;
}
.nav ul li:nth-child(4):hover ~ .nav-box {
  left: calc(100% / 4 * 3);
  background-color: #ffb1b1;
}
.nav ul li {
  display: inline-block;
  width: 160px;
  text-align: center;
  height: 80px;
  position: relative;
  line-height: 60px;
  margin-top: 15px;
  box-sizing: border-box;
  border-radius: 5px;
}

.nav ul li a {
  color: rgb(62, 101, 209);
  font: 100 21px "优设标题黑";
  display: block;
  width: 100%;
  height: 100%;
  line-height: 80px;
}
/*content 开始*/

.content {
  margin: 20px;
  width: calc(100% - 40px);
  min-width: 1366px;
}
.content > .content_title {
  width: 100%;
  height: 35px;
  line-height: 35px;
  background-color: #4b8df8;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.content > .content_title > p {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.content > .content_title > img {
  margin: 10px 10px 0px 10px;
}
.content > .content_main {
  min-width: 1000px;
}
.content > .content_main > .content_search > div {
  margin-right: 25px;
}
.content > .content_main > .content_search > div > label {
  width: 80px;
  text-align: right;
}
.content > .content_main > .content_search > div > select,
.content > .content_main > .content_search > div > input {
  width: 200px;
}
.content > .content_main > .content_table {
  margin-top: 30px;
}
.content > .content_main > .content_table > table {
  margin-top: 15px;
}
.content > .content_main > .content_table > table th:nth-child(1),
.content > .content_main > .content_table > table td:nth-child(1) {
  width: 50px;
  text-align: center;
}

.content > .content_main > .content_page > span {
  font-size: 12.8px;
  margin-top: 7px;
}
.content > .content_main > .content_page > select {
  width: 70px;
  margin-right: 10px;
}
/*content 结束*/

.top_menu {
  position: absolute;
  top: 5px;
  right: 30px;
}
